body {
    font-family: Helmet Neue;
   background: #779ECB;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    background: #eeecf1;
    color: navy;
    padding: 1em 0; 
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav ul li {   /* this targets list */
    margin: 0 15px;
}

nav ul li a {   /* this targets links '#' within the list*/
    text-decoration: none;
    color: #333;
}

ul li a:hover {
    text-decoration: underline; /* adds underline on hover to links */
}

section {
    padding: 20px;
    margin: 20px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: #f4f4f4;
    padding: 1em 0;
}
